/* font-family: 'Varela Round', sans-serif; */

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #8c8f94;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.navigation__list {
    display: flex;
    justify-content: space-between;
    color: #26272d;
    margin: 0;
    padding: 0;
}

.menu-btn {
    margin-top: 7px;
}

.logo {
    padding: 0 150px;
}

.navigation__list li + li {
    margin-left: 30px;
}

.navigation__list li + li + li{
    margin-left: 40px;
}

.navigation__list a:hover {
    color: #8c8f94;
}

.menu-btn__line {
    width: 20px;
    height: 2px;
    margin-bottom: 3px;
    background-color: #1b1c1e;
}

.get-app__btn {
    position: relative;
    color: #ffffff;
    min-height: 42px;
    max-width: 150px;
    padding: 13px 25px 13px 50px;
    background-color: #267df4;
    border-radius: 50px;
}

.get-app__btn::before {
    font-family: 'icomoon';
    position: absolute;
    content: "\eabe";
    left: 0;
    color: #ffffff;
}