.header {
  position: fixed;
  z-index: 10;
  padding: 44px 0;
  width: 100%;
  background-color: #f4f5f6;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #26272d;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: absolute;
  margin-top: 9px;
}

.menu-btn:hover {
  cursor: pointer;
}

.menu-btn:hover .menu-btn__line {
  background-color: #337ab7;
}

.help-btn {
  color: rgba(38, 39, 45, 0.4);
}

.logo {
  padding: 0 120px;
}

.left-menu {
  position: absolute;
  display: none;
  background-color: #000000;
  top: 0;
  left: 0;
}

.left-menu__list {
  color: #ffffff;
}

.close-btn {
  color: #ffffff;
  padding: 10px;
}

.navigation__list li {
  margin-left: 50px;
}

.navigation__list li + li {
  margin-left: 40px;
}

.navigation__list a:hover {
  color: #337ab7;
}

.menu-btn__line {
  width: 20px;
  height: 2px;
  margin-bottom: 3px;
  background-color: #1b1c1e;
}

.get-app__btn {
  position: relative;
  color: #ffffff;
  padding: 14px 25px 13px 50px;
  border-radius: 50px;
  background-color: #267df4;
}

.navigation__list .get-app__btn:hover {
  color: #ffffff;
}

.get-app__btn::before {
  font-family: 'icomoon';
  position: absolute;
  content: "\eabe";
  left: 20px;
  color: #ffffff;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #8c8f94;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.line {
  background-color: #f4f4f4;
}

.first-screen {
  position: relative;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: 1000px;
  overflow: hidden;
}

.first-screen__info-box {
  text-align: center;
  max-width: 800px;
  width: 100%;
  min-height: 320px;
  padding-top: 120px;
  margin: 0 auto;
}

.first-screen__box-title {
  font-family: 'Varela Round', sans-serif;
  font-size: 62px;
  line-height: 72px;
  color: #26272d;
  margin-bottom: 40px;
}

.first-screen__box-text {
  margin-bottom: 60px;
}

.videoplayer-btn {
  margin: 0 auto;
}

.videoplayer-btn__link {
  display: inline-block;
  position: relative;
  border: 1px solid #dadcdf;
  border-radius: 50px;
  font-size: 16px;
  line-height: normal;
  color: #26272d;
  padding: 17px 50px 17px 65px;
}

.videoplayer-btn__link::before {
  font-family: 'icomoon';
  position: absolute;
  content: "\ea1c";
  left: 43px;
  top: 20px;
  color: #26272d;
}

.first-screen-phone {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 530px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.features__box {
  margin: 120px 0;
}

.features__box-item {
  display: inline-block;
  max-width: 570px;
  width: 100%;
  min-height: 300px;
  padding: 0 38px;
  vertical-align: top;
  margin-bottom: 70px;
}

.features__box-item:nth-child(2n) {
  margin-left: 25px;
}

.features__info-title {
  margin: 45px 0;
  font-weight: 300;
  font-size: 26px;
  line-height: 34px;
  color: #26272d;
}

.features__info-text {
  font-size: 18px;
  line-height: 26px;
  color: #8c8f94;
}

.features__info-text p:first-child {
  margin-bottom: 35px;
}

.horizontal-line {
  background-color: #f4f4f4;
  height: 1px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 125px;
}

.security {
  min-height: 879px;
  background-image: url(../img/phone-bg.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.security__content {
  float: right;
  padding-top: 140px;
  margin-left: 100px;
  max-width: 500px;
  width: 100%;
  margin-bottom: 430px;
}

.security__title {
  font-family: 'Varela Round', sans-serif;
  font-size: 42px;
  line-height: 52px;
  color: #26272d;
  margin-bottom: 70px;
  max-width: 270px;
}

.security__text {
  margin-bottom: 80px;
}

.security__hack-btn, .security__more-btn {
  float: left;
}

.security__more-btn {
  margin-left: 20px;
}

.security__more-link, .security__hack-link {
  border: 1px solid #dadcdf;
  border-radius: 50px;
}

.security__more-link {
  color: #26272d;
  padding: 14px 30px;
}

.security__hack-link {
  position: relative;
  padding: 14px 75px 14px 25px;
  color: #ffffff;
  max-width: 200px;
  width: 100%;
  background-color: #267df4;
  border-color: #267df4;
}

.security__hack-link::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 20px;
  height: 12px;
  width: 13px;
  background-image: url(../img/arrow-icon.png);
}

.location {
  position: relative;
}

.location__content {
  max-width: 500px;
  width: 100%;
}

.location__title {
  font-family: 'Varela Round', sans-serif;
  font-size: 42px;
  line-height: 52px;
  color: #26272d;
  margin-bottom: 70px;
}

.location__text {
  margin-bottom: 65px;
}

.location__map {
  position: absolute;
  right: 0;
  top: 0;
}

.location__partners {
  padding-bottom: 220px;
}

.location__partners-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: #26272d;
  text-transform: uppercase;
}

.location__partners-logos .location__partners-img:not(:first-child) {
  margin-left: 30px;
}

.interface {
  min-height: 1500px;
  background-color: #f5f5f8;
  background-image: url(../img/interface-bg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.interface__header {
  text-align: center;
  padding-top: 140px;
}

.interface__header-title {
  position: relative;
  font-family: 'Varela Round', sans-serif;
  font-size: 42px;
  line-height: 52px;
  color: #26272d;
  margin-bottom: 90px;
}

.interface__header-title::after {
  position: absolute;
  content: "";
  background-color: #267df4;
  height: 2px;
  width: 50px;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.interface__header-subtitle {
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  padding-bottom: 980px;
}

.interface__footer-content {
  text-align: center;
}

.interface__footer-subtitle {
  font-size: 12px;
  line-height: 22px;
  color: rgba(58, 61, 75, 0.5);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.interface__footer-subtitle span {
  font-weight: 700;
}

.interface__footer-title {
  font-family: 'Varela Round', sans-serif;
  font-size: 42px;
  line-height: 52px;
  color: #26272d;
  margin-bottom: 45px;
}

.interface__form {
  position: relative;
}

.interface__btn {
  padding-bottom: 130px;
}

.interface__btn-label {
  font-size: 12px;
  padding-bottom: 32px;
  margin-top: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.interface__btn-link {
  position: relative;
  color: #ffffff;
  font-size: 23px;
  line-height: 22px;
  padding: 27px 40px 20px 67px;
  background-color: #131315;
  border-radius: 50px;
}

.interface__btn-link::before {
  content: "Download on the";
  position: absolute;
  font-size: 12px;
  line-height: 24px;
  left: 68px;
  top: 10px;
}

.interface__btn-link::after {
  content: "";
  position: absolute;
  left: 27px;
  top: 20px;
  background: url(../img/apple-logo.png) no-repeat center center;
  width: 24px;
  height: 28px;
}

.email-form {
  border: 1px solid rgba(38, 39, 45, 0.2);
  border-radius: 50px;
  padding: 18px 300px 18px 28px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.email-btn {
  position: absolute;
  right: 318px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ffffff;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 50px;
  padding: 14px 52px 14px 30px;
  background-color: #6fc754;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.team {
  background-color: #ffffff;
}

.team .team-slider {
  margin: 0 auto;
}

.team .team-slider__item {
  margin: 0 auto;
  max-width: 570px;
}

.team .team-slider__content {
  text-align: center;
}

.team .team-slider__title {
  padding-top: 70px;
  margin-bottom: 45px;
  font-size: 32px;
  line-height: 38px;
  font-weight: 300;
  color: #26272d;
}

.team .team-slider__text {
  margin-bottom: 28px;
}

.team .team-slider__stars {
  margin-bottom: 60px;
}

.team .team-slider__author {
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  color: #26272d;
  text-transform: uppercase;
  padding-bottom: 125px;
}

.team .team-img-slider {
  margin: 0 auto;
  max-width: 570px;
}

.team .team-img-slider__img {
  border-radius: 50%;
}

.team .team-img-slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 570px;
  width: 100%;
  padding-top: 130px;
}
