.header {
  position: fixed;
  z-index: 10;
  padding: 44px 0;
  width: 100%;
  background-color: #f4f5f6;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #26272d;
  margin: 0;
  padding: 0;
}

.menu-btn {
  position: absolute;
  margin-top: 9px;
}

.menu-btn:hover {
  cursor: pointer;
}

.menu-btn:hover .menu-btn__line {
  background-color: #337ab7;
}

.help-btn {
  color: rgba(38, 39, 45, 0.4);
}

.logo {
  padding: 0 120px;
}

.left-menu {
  position: absolute;
  display: none;
  background-color: #000000;
  top: 0;
  left: 0;
}

.left-menu__list {
  color: #ffffff;
}

.close-btn {
  color: #ffffff;
  padding: 10px;
}

.navigation__list li {
  margin-left: 50px;
}

.navigation__list li + li {
  margin-left: 40px;
}

.navigation__list a:hover {
  color: #337ab7;
}

.menu-btn__line {
  width: 20px;
  height: 2px;
  margin-bottom: 3px;
  background-color: #1b1c1e;
}

.get-app__btn {
  position: relative;
  color: #ffffff;
  padding: 14px 25px 13px 50px;
  border-radius: 50px;
  background-color: #267df4;
}

.navigation__list .get-app__btn:hover {
  color: #ffffff;
}

.get-app__btn::before {
  font-family: 'icomoon';
  position: absolute;
  content: "\eabe";
  left: 20px;
  color: #ffffff;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #8c8f94;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.line {
  background-color: #f4f4f4;
}

.first-screen {
  position: relative;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: 1000px;
  overflow: hidden;
}

.first-screen__info-box {
  text-align: center;
  max-width: 800px;
  width: 100%;
  min-height: 320px;
  padding-top: 120px;
  margin: 0 auto;
}

.first-screen__box-title {
  font-family: 'Varela Round', sans-serif;
  font-size: 62px;
  line-height: 72px;
  color: #26272d;
  margin-bottom: 40px;
}

.first-screen__box-text {
  margin-bottom: 60px;
}

.videoplayer-btn {
  margin: 0 auto;
}

.videoplayer-btn__link {
  display: inline-block;
  position: relative;
  border: 1px solid #dadcdf;
  border-radius: 50px;
  font-size: 16px;
  line-height: normal;
  color: #26272d;
  padding: 17px 50px 17px 65px;
}

.videoplayer-btn__link::before {
  font-family: 'icomoon';
  position: absolute;
  content: "\ea1c";
  left: 43px;
  top: 20px;
  color: #26272d;
}

.first-screen-phone {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 530px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.features__box {
  margin: 120px 0;
}

.features__box-item {
  display: inline-block;
  max-width: 570px;
  width: 100%;
  min-height: 300px;
  padding: 0 38px;
  vertical-align: top;
  margin-bottom: 70px;
}

.features__box-item:nth-child(2n) {
  margin-left: 25px;
}

.features__info-title {
  margin: 45px 0;
  font-weight: 300;
  font-size: 26px;
  line-height: 34px;
  color: #26272d;
}

.features__info-text {
  font-size: 18px;
  line-height: 26px;
  color: #8c8f94;
}

.features__info-text p:first-child {
  margin-bottom: 35px;
}

.horizontal-line {
  background-color: #f4f4f4;
  height: 1px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 125px;
}

.security {
  min-height: 879px;
  background-image: url(../img/phone-bg.png);
  background-repeat: no-repeat;
  background-position: left top;
}

.security__content {
  float: right;
  padding-top: 140px;
  margin-left: 100px;
  max-width: 500px;
  width: 100%;
  margin-bottom: 430px;
}

.security__title {
  font-family: 'Varela Round', sans-serif;
  font-size: 42px;
  line-height: 52px;
  color: #26272d;
  margin-bottom: 70px;
  max-width: 270px;
}

.security__text {
  margin-bottom: 80px;
}

.security__hack-btn, .security__more-btn {
  float: left;
}

.security__more-btn {
  margin-left: 20px;
}

.security__more-link, .security__hack-link {
  border: 1px solid #dadcdf;
  border-radius: 50px;
}

.security__more-link {
  color: #26272d;
  padding: 14px 30px;
}

.security__hack-link {
  position: relative;
  padding: 14px 75px 14px 25px;
  color: #ffffff;
  max-width: 200px;
  width: 100%;
  background-color: #267df4;
  border-color: #267df4;
}

.security__hack-link::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 20px;
  height: 12px;
  width: 13px;
  background-image: url(../img/arrow-icon.png);
}
