.footer {
   min-height: 900px;

   &__email {
      text-align: center;
      padding-bottom: 85px;
   }

   &__title {
      padding-top: 90px;
      margin-bottom: 50px;
      color: #26292c;
   }

   &__form {
      position: relative;
      margin-bottom: 25px;
   }

   &__form-label {
      font-size: 14px;
      line-height: 24px;
   }

   &__main-content {
      display: flex;
      justify-content: space-between;
      padding-top: 90px;
      padding-bottom: 120px;
   }

   &__info {
      max-width: 300px;
      width: 100%;
   }

   &__logo {
      padding: 0;
      margin: 0;
      margin-bottom: 30px;
   }

   &__text {
      font-size: 14px;
      line-height: 24px;
      padding-bottom: 30px;
   }

   &__btn {
      margin-top: 30px;
   }

   &__btn-link {
      padding: 18px 15px 5px 40px;
      border-radius: 5px;

      &::before {
         left: 41px;
         top: 3px;
      }

      &::after {
         left: 7px;
         top: 12px;
      }
   }

   .horizontal-line {
      margin-bottom: 0;
   }


   &__socials {
      display: flex;
      padding-top: 40px;

      a {
         font-size: 18px;
         margin-left: 25px;
         display: inline-block;
         &:hover {
            color: #26272d;
         }
      }

      a:first-child {
         margin-left: 0;
      }
   }


   .twitter-logo::before {
      font-family: 'icomoon';
      content: "\ea96";
   }

   .fb-logo::before {
      font-family: 'icomoon';
      content: "\ea90";
   }

   .google-logo {
      font-size: 28px;
   }

   .google-logo::before {
      font-family: 'icomoon';
      content: "\ea8b";
   }

   .tumbler-logo::before {
      font-family: 'icomoon';
      content: "\eab9";
   }

   .pinterest-logo::before {
      font-family: 'icomoon';
      content: "\ead1";
   }

   .linkedin-logo::before {
      font-family: 'icomoon';
      content: "\eaca";
   }

   &__links {
      display: flex;
      justify-content: space-between;
      max-width: 550px;
      width: 100%;
   }

   &__link {
      font-size: 16px;
      line-height: 36px;
      margin-top: 15px;

   }

   &__link-title {
      font-size: 12px;
      line-height: 22px;
      font-weight: 700;
      text-transform: uppercase;
      color: #26272d;
   }

   &__author {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;
      padding-bottom: 40px;
   }

   &__author-info {
      font-size: 14px;
      line-height: 24px;
   }

   &__author-link {
      color: #3b55e6;
      text-decoration: underline;
   }

}