html {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

body {
   font-family: 'Lato', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 28px;
   color: #8c8f94;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: inherit;
}

.container {
   max-width: 1190px;
   margin: 0 auto;
   padding: 10px;
}

.title {
   font-family: 'Varela Round', sans-serif;
   font-size: 42px;
   line-height: 52px;
   color: #26272d;
}

.horizontal-line {
   background-color: #f4f4f4;
   height: 1px;
   width: 100%;
   margin-top: 0;
   margin-bottom: 125px;
}

.btn {}

.btn-link {
   position: relative;
   color: #ffffff;
   font-size: 23px;
   line-height: 22px;
   padding: 27px 40px 20px 67px;
   background-color: #131315;

   &::before {
      content: "Download on the";
      position: absolute;
      font-size: 12px;
      line-height: 24px;
      left: 68px;
      top: 10px;
   }

   &::after {
      content: "";
      position: absolute;
      left: 27px;
      top: 20px;
      background: url(../img/apple-logo.png) no-repeat center center;
      width: 24px;
      height: 28px;
   }
}

.twitter-logo::before {
   font-family: 'icomoon';
   content: "\ea96";
}

.fb-logo::before {
   font-family: 'icomoon';
   content: "\ea90";
}

.google-logo::before {
   font-size: 26px;
}

.google-logo::before {
   font-family: 'icomoon';
   content: "\ea8b";
}

.tumbler-logo::before {
   font-family: 'icomoon';
   content: "\eab9";
}

.pinterest-logo::before {
   font-family: 'icomoon';
   content: "\ead1";
}

.linkedin-logo::before {
   font-family: 'icomoon';
   content: "\eaca";
}