@import "_header";
@import "_global";
@import "_media";


.first-screen {
   position: relative;
   background-image: url(../img/header-bg.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   width: 100%;
   min-height: 1000px;
   overflow: hidden;
}

.first-screen__info-box {
   text-align: center;
   max-width: 800px;
   width: 100%;
   min-height: 320px;
   padding-top: 120px;
   margin: 0 auto;
}

.first-screen__box-title {
   font-family: 'Varela Round', sans-serif;
   font-size: 62px;
   line-height: 72px;
   color: #26272d;
   margin-bottom: 40px;
}
.first-screen__box-text {
   margin-bottom: 60px;
}

.first-screen__videoplayer {
   
}

.videoplayer-btn {
   margin: 0 auto;
}

.videoplayer-btn__link {
   display: inline-block;
   position: relative;
   // max-width: 210px;
   // min-height: 50px;
   // width: 100%;
   border: 1px solid #dadcdf;
   border-radius: 50px;
   font-size: 16px;
   line-height: normal;
   color: #26272d;
   padding: 17px 50px 17px 65px;
}

.videoplayer-btn__link::before {
   font-family: 'icomoon';
   position: absolute;
   content: "\ea1c";
   left: 43px;
   top: 20px; 
   color: #26272d;
}

.first-screen-phone {
   position: absolute;
   left: 50%;
   right: 50%;
   top: 530px;
   transform: translateX(-50%);
}