@import "_header";
@import "_global";
@import "_media";


.first-screen {
   position: relative;
   background-image: url(../img/header-bg.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   width: 100%;
   min-height: 1000px;
   overflow: hidden;
}

.first-screen__info-box {
   text-align: center;
   max-width: 800px;
   width: 100%;
   min-height: 320px;
   padding-top: 120px;
   margin: 0 auto;
}

.first-screen__box-title {
   font-family: 'Varela Round', sans-serif;
   font-size: 62px;
   line-height: 72px;
   color: #26272d;
   margin-bottom: 40px;
}
.first-screen__box-text {
   margin-bottom: 60px;
}

.first-screen__videoplayer {
   
}

.videoplayer-btn {
   margin: 0 auto;

   &__link {
      display: inline-block;
      position: relative;
      // max-width: 210px;
      // min-height: 50px;
      // width: 100%;
      border: 1px solid #dadcdf;
      border-radius: 50px;
      font-size: 16px;
      line-height: normal;
      color: #26272d;
      padding: 17px 50px 17px 65px;
      &::before {
         font-family: 'icomoon';
         position: absolute;
         content: "\ea1c";
         left: 43px;
         top: 20px; 
         color: #26272d;
      }
   }
}

.first-screen-phone {
   position: absolute;
   left: 50%;
   right: 50%;
   top: 530px;
   transform: translateX(-50%);
}

.features {
   &__box {
      margin: 120px 0;
   }

   &__box-item {
      display: inline-block;
      max-width: 570px;
      width: 100%;
      min-height: 300px;
      padding: 0 38px;
      vertical-align: top;
      &:nth-child(2n) {
         margin-left: 25px;
      }
      margin-bottom: 70px;
   }

   &__info-title {
      margin: 45px 0;
      font-weight: 300;
      font-size: 26px;
      line-height: 34px;
      color: #26272d;
   }

   &__info-text {
      font-size: 18px;
      line-height: 26px;
      color: #8c8f94;
      p:first-child {
         margin-bottom: 35px;
      }
   }
}

.horizontal-line {
   background-color: #f4f4f4;
   height: 1px;
   width: 100%;
   margin-top: 0;
   margin-bottom: 125px;
}


.security {
      min-height: 879px;
      background-image: url(../img/phone-bg.png);
      background-repeat: no-repeat;
      background-position: left top;
		&__content {
         float: right;
         padding-top: 140px;
         margin-left: 100px;
         max-width: 500px;
         width: 100%;
         margin-bottom: 430px;
		}

		&__title {
         font-family: 'Varela Round', sans-serif;
         font-size: 42px;
         line-height: 52px;
         color: #26272d;
         margin-bottom: 70px;
         max-width: 270px;
		}

		&__text {
         margin-bottom: 80px;
      }
      
      &__hack-btn,
      &__more-btn {
         float: left;
      }

      &__more-btn {
         margin-left: 20px;
      }

      &__more-link,
      &__hack-link {
         border: 1px solid #dadcdf;
         border-radius: 50px;
      }

      &__more-link {
         color: #26272d;
         padding: 14px 30px;
      }

      &__hack-link { 
         position: relative;
         padding: 14px 75px 14px 25px;
         color: #ffffff;
         max-width: 200px;
         width: 100%;
         background-color: #267df4;
         border-color: #267df4;
         &::after {
            content: "";
            position: absolute;
            right: 20px;
            top: 20px;
            height: 12px;
            width: 13px;
            background-image: url(../img/arrow-icon.png);
         }
      }
}


.location {
      position: relative;

		&__content {
         max-width: 500px;
         width: 100%;
		}

		&__info {
		}

		&__title {
         font-family: 'Varela Round', sans-serif;
         font-size: 42px;
         line-height: 52px;
         color: #26272d;
         margin-bottom: 70px;
		}

		&__text {
         margin-bottom: 65px;
		}

		&__map {
         position: absolute;
         right: 0;
         top: 0;
      }

      &__partners {
         padding-bottom: 220px;
      }
      
      &__partners-title {
         font-size: 12px;
         font-weight: 700;
         line-height: 22px;
         letter-spacing: 1px;
         margin-bottom: 30px;
         color: #26272d;
         text-transform: uppercase;
      }

      &__partners-logos .location__partners-img:not(:first-child) {
         margin-left: 30px;
      }
}
